<%= form_with url: admin_search_results_path, method: :get, local: true do |form| %>
  <fieldset class="inputs">
    <ol>
      <li>
        <%= form.label :user_id, 'ユーザー' %>
        <%= form.collection_select :user_id, User.order(name: :asc), :id, :name, { include_blank: '選択してください' }, { required: true } %>
        <p class="inline-hints"> アイテムを作成するユーザーを選択してください</p>
      </li>
      <li>
        <%= form.text_field :keyword, placeholder: "アイテムを検索", required: true %>
      </li>
    </ol>
  </fieldset>
  <fieldset class="actions">
    <ol>
      <li>
        <%= form.submit '検索する' %>
      </li>
      <li class="cancel">
        <%= link_to "取り消す", admin_items_path %>
      </li>
    </ol>
  </fieldset>
<% end %>
