<h1>編集</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= bootstrap_devise_error_messages! %>

  <div class="form-group">
    <%= f.label :name %>
    <span><%= t('devise.shared.required') %></span>
    <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control', required: true, maxlength: 30 %>
    <small class="form-text text-muted"><%= t('devise.shared.maximum_user_length') %></small>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <span><%= t('devise.shared.required') %></span>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>

    <small class="form-text text-muted"><%= t('.leave_blank_if_you_don_t_want_to_change_it') %></small>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= f.label :current_password %>
    <span><%= t('devise.shared.required') %></span>
    <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control' %>

    <small class="form-text text-muted"><%= t('.we_need_your_current_password_to_confirm_your_changes') %></small>
  </div>

  <div class="form-group">
    <%= f.label :age %>
    <span><%= t('devise.shared.required') %></span>
    <%= f.select :age, User.ages_i18n.invert, {}, class: 'form-control' , required: true %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <span><%= t('devise.shared.required') %></span>
    <%= f.select :address, User.addresses_i18n.invert, {}, class: 'form-control' , required: true %>
  </div>

  <div class="form-group">
    <%= f.label :household %>
    <span><%= t('devise.shared.required') %></span>
    <%= f.select :household, User.households_i18n.invert, {}, class: 'form-control' , required: true %>
  </div>

  <div class="form-group">
    <%= f.label :favorite_items %>
    <%= f.text_field :favorite_items, autofocus: true, autocomplete: 'favorite_items', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :profile %>
    <%= f.text_area :profile, autofocus: true, autocomplete: 'profile', class: 'form-control', maxlength: 2000 %>
    <small class="form-text text-muted"><%= t('devise.shared.maximum_profile_length') %></small>
  </div>

  <div class="form-group">
    <%= f.submit t('.update'), class: 'btn btn-primary' %>
  </div>
<% end %>

<p><%= t('.unhappy') %>? <%= link_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete %>.</p>

<%= link_to t('.back'), :back %>
