<div class="d-flex justify-content-center pt-3">
  <div class="d-inline-flex flex-column headline pb-4">
    <h2 class="m-0">Sign Up</h2>
    <p class="text-center text-muted">会員登録</p>
  </div>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= bootstrap_devise_error_messages! %>

  <div class="form-group">
    <div class="avatar-container">
      <%= f.label :avatar, class: "avatar-label rounded-circle" do %>
        <%= f.file_field :avatar, class: 'avatar-image-field', accept: 'image/png,image/jpeg,image/gif', style: 'display:none;'%>
        <%= f.hidden_field :avatar_cache %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <span class="required"><%= t('devise.shared.required') %></span>
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control', required:true, maxlength: 30 %>
    <small class="form-text text-muted"><%= t('devise.shared.maximum_user_length') %></small>
  </div>

  <div class="form-group">
    <span class="required"><%= t('devise.shared.required') %></span>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', pattern: "^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]+$", required: true %>
  </div>

  <div class="form-group">
    <span class="required"><%= t('devise.shared.required') %></span>
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control', pattern: "^([a-zA-Z0-9]{6,})$", required: true %>

    <% if @minimum_password_length %>
      <small class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: "半角英数字#{@minimum_password_length}") %></small>
    <% end %>
  </div>

  <div class="form-group">
    <span class="required"><%= t('devise.shared.required') %></span>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: 'current-password', class: 'form-control', pattern: "^([a-zA-Z0-9]{6,})$", required: true %>

    <% if @minimum_password_length %>
      <small class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: "半角英数字#{@minimum_password_length}") %></small>
    <% end %>
  </div>

  <div class="form-group">
    <span class="required"><%= t('devise.shared.required') %></span>
    <%= f.label :age %>
    <%= f.select :age, User.ages_i18n.invert, {include_blank: '選択してください'}, class: 'form-control' , required: true %>
  </div>

  <div class="form-group">
    <span class="required"><%= t('devise.shared.required') %></span>
    <%= f.label :address %>
    <%= f.select :address, User.addresses_i18n.invert, {include_blank: '選択してください'}, class: 'form-control' , required: true %>
  </div>

  <div class="form-group">
    <span class="required"><%= t('devise.shared.required') %></span>
    <%= f.label :household %>
    <%= f.select :household, User.households_i18n.invert, {include_blank: '選択してください'}, class: 'form-control' , required: true %>
  </div>

  <div class="form-group form-check p-0">
    <span class="required"><%= t('devise.shared.required') %></span>
    <%= f.label :terms_of_use %>
    <div class="terms-of-use overflow-auto bg-white rounded mb-3 p-3">
      <%= render template: "pages/terms_of_use" %>
    </div>
    <%= f.check_box :terms_of_use, class: "form-check-input ml-0", required: true %>
    <%= f.label :terms_of_use, class: 'form-check-label' do %>
      <span class="ml-4">利用規約について同意する</span>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.submit t('.sign_up'), class: 'btn btn-info btn-block' %>
  </div>
<% end %>

<hr class="devise-link my-4">

<%= render 'devise/shared/links' %>
