<h1><%= t('.sign_up') %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= bootstrap_devise_error_messages! %>

  <div class="form-group">
    <%= f.label :name %>
    <span><%= t('devise.shared.required') %></span>
    <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control', 
    required:true, maxlength: 30 %>
    <small class="form-text text-muted"><%= t('devise.shared.maximum_user_length') %></small>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <span><%= t('devise.shared.required') %></span>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <span><%= t('devise.shared.required') %></span>
    <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control', required: true %>

    <% if @minimum_password_length %>
      <small class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: 'current-password', class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= f.label :age %>
    <span><%= t('devise.shared.required') %></span>
    <%= f.select :age, User.ages_i18n.invert, {include_blank: '選択してください'}, class: 'form-control' , required: true %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <span><%= t('devise.shared.required') %></span>
    <%= f.select :address, User.addresses_i18n.invert, {include_blank: '選択してください'}, class: 'form-control' , required: true %>
  </div>

  <div class="form-group">
    <%= f.label :household %>
    <span><%= t('devise.shared.required') %></span>
    <%= f.select :household, User.households_i18n.invert, {include_blank: '選択してください'}, class: 'form-control' , required: true %>
  </div>

  <div class="form-group">
    <%= f.submit t('.sign_up'), class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render 'devise/shared/links' %>
