<div class="comment-user py-2 d-flex" id="comment-<%= comment.id %>">
  <div class="flex-column">
    <%= link_to user_path(comment.user), class: 'd-flex text-reset' do %>
      <div class="mr-2">
        <%= image_tag comment.user_avatar.url, class: "rounded-circle", size: "24x24" %>
      </div>
      <div class="font-weight-bold text-truncate">
        <%= comment.user_name %>
      </div>
    <% end %>
    <div class="ml-4 pl-2">
      <%= comment.content %>
    </div>
  </div>
  <% if comment.user == current_user %>
    <%= link_to "×", post_comment_path(comment.post, comment), class: "text-reset mr-3 ml-auto", method: :delete, remote: true, data: {confirm: "コメントを削除しますか?"} %>
  <% end %>
</div>
