<% if search_items.count > 0 %>
  <ul class="row bg-white py-3 px-0 mb-0">
    <% search_items.each do |item| %>
      <li class="col-6 col-sm-4 col-lg-2 d-flex flex-column px-lg-1 pt-2 mb-3">
        <%= link_to item["affiliateUrl"], class: "text-reset mb-auto", target: "_blank" do %>
          <div class="d-flex justify-content-center mb-2">
            <div class="d-flex justify-content-center align-items-center bg-white search-item-image">
              <%= image_tag item["mediumImageUrl"], class: "img-fluid" %>
            </div>
          </div>
          <h6 class="px-2"><%= item["productName"] %></h6>
          <p class="text-muted px-2"><%= item["genreName"] %></p>
        <% end %>
        <% if registered_item?(item["productName"]) %>
          <%= button_tag "登録済み", disabled: true, class: "btn btn-dark-gray mx-lg-2" %>
        <% else %>
          <%= link_to "追加", user_items_path(current_user, item: {name: item["productName"], genre: item["genreName"], remote_image_url: item["mediumImageUrl"]}), method: :post, type: "button", class: "btn btn-outline-main mx-lg-2", data: { disable_with: "追加..."} %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="d-flex justify-content-center pt-5">検索結果が見つかりませんでした</p>
<% end %>
