<%= form_with model: PostForm.new, url: post_path, class: 'post-form', method: :patch, local: true do |form| %>
  <div class="form-group mt-3">
    <%= form.text_area :content, class: 'form-control', id: 'content-form', rows: '10', maxlength: 2000 %>
  </div>
  <small>2000文字以内で入力してください</small>
  <hr>
  <div class="form-group mt-3">
    <div class="preview-box d-flex flex-wrap">
      <label class="drop-container" id="edit-drop">
        <%= form.file_field :image, multiple: true, class: 'form-control-file post-preview-image', accept: 'image/png, image/jpeg, image/jpg', type: "file", style: 'display: none;', data: { action: "edit" } %>
        <i class="far fa-image" id="drop-container-icon" ></i>
      </label>
    </div>
  </div>
  <small>* 最大6枚まで投稿できます *</small>
  <hr>
  <div class="form-group mt-3 tag-group">
    <i class="fas fa-tag tag-color"></i>
    <%= form.label :tag_ids, "タグ", class: "font-weight-bold" %>
    <ul class="row px-3">
      <%= form.collection_check_boxes :tag_ids, Tag.all.order(id: :asc), :id, :name, include_hidden: false do |form| %>
        <li class="form-check col-6 col-md-4 col-lg-2 flex-wrap px-2">
          <label class="border rounded-pill w-100">
            <%= form.check_box class: "tags-check-box checkbox-visibility" %>
            <span class="d-flex justify-content-center rounded-pill w-100 checkbox-position">
              <%= form.text %>
            </span>
          </label>
        </li>
      <% end %>
    </ul>
  </div>
  <small>* 最大2つまで選択可能です *</small>
  <hr>
  <div class="form-group mt-3 category-group">
    <i class="fas fa-folder category-color"></i>
    <%= form.label :category_ids, "カテゴリー", class: "font-weight-bold" %>
    <ul class="row px-3">
      <%= form.collection_check_boxes :category_ids, Category.all.order(id: :asc), :id, :name, include_hidden: false do |form| %>
        <li class="form-check col-6 col-md-4 col-lg-2 flex-wrap px-2">
          <label class="border rounded-pill w-100">
            <%= form.check_box class: "categories-check-box checkbox-visibility" %>
            <span class="d-flex justify-content-center rounded-pill w-100 checkbox-position">
              <%= form.text %>
            </span>
          </label>
        </li>
      <% end %>
    </ul>
  </div>
  <small>* 最大2つまで選択可能です *</small>
  <hr class="py-2 m-0">
  <div class="form-group mt-3">
    <%= form.submit '投稿する', class: 'btn btn-info btn-block', id: 'edit-button' %>
  </div>
<% end %>