<%= form_with model: PostForm.new, url: posts_path, class: 'post-form', namespace: 'new', local: true do |form| %>
  <div class="form-group mt-3">
    <%= form.label :content, 'キャプション', class: "font-weight-bold" %>
    <%= form.text_area :content, class: 'form-control', rows: '10', maxlength: 2000 %>
  </div>
  <small>* 2000文字以内で入力してください *</small>
  <hr>
  <div class="form-group mt-3">
    <div class="preview-box d-flex flex-wrap">
      <%= form.label :images, class: "drop-container", id: "new-drop" do %>
        <%= form.file_field :images, multiple: true, class: 'form-control-file post-preview-image', accept: 'image/png, image/jpeg, image/jpg', required: true, type: "file", data: {action: "new"} %>
        <i class="far fa-image" id="drop-container-icon" ></i>
      <% end %>
    </div>
  </div>
  <small>* 最大6枚まで投稿できます *</small>
  <hr>
  <div class="form-group mt-3 tag-group">
    <i class="fas fa-tag tag-color"></i>
    <span class="font-weight-bold">タグ</span>
    <ul class="row px-3">
      <%= form.collection_check_boxes :tag_ids, Tag.all.order(id: :asc), :id, :name, include_hidden: false do |b| %>
        <li class="form-check col-6 col-md-4 col-lg-2 text-nowrap px-2">
          <%= b.label class: "border rounded-pill w-100" do %>
            <%= b.check_box class: "checkbox-visibility" %>
            <span class="d-flex justify-content-center rounded-pill w-100 checkbox-position">
              <%= b.text %>
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <small>* 最大2つまで選択可能です *</small>
  <hr>
  <div class="form-group mt-3 category-group">
    <i class="fas fa-folder category-color"></i>
    <span class="font-weight-bold">カテゴリ</span>
    <ul class="row px-3">
      <%= form.collection_check_boxes :category_ids, Category.all.order(id: :asc), :id, :name, include_hidden: false do |b| %>
        <li class="form-check col-6 col-md-4 col-lg-2 text-nowrap px-2">
          <%= b.label class: "border rounded-pill w-100" do %>
            <%= b.check_box class: "checkbox-visibility" %>
            <span class="d-flex justify-content-center rounded-pill w-100 checkbox-position">
              <%= b.text %>
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <small>* 最大2つまで選択可能です *</small>
  <hr class="py-2 m-0">
  <div class="form-group mt-4">
    <%= form.submit '投稿する', class: 'btn btn-main btn-block', id: 'new-button' %>
  </div>
<% end %>