<%= search_form_for @q do |form| %>
  <div class="form-group pb-3">
    <i class="fas fa-search"></i>
    <%= form.label :user_name_or_content_cont, "キーワード", class: "font-weight-bold" %>
    <%= form.search_field :user_name_or_content_cont, class: 'form-control', placeholder: "キーワードを入力" %>
  </div>
  <hr>
  <div class="form-group mt-3">
    <i class="fas fa-tag tag-color"></i>
    <span class="font-weight-bold">タグ</span>
    <ul class="row px-3">
      <%= form.collection_check_boxes :tags_id_in, Tag.all.order(id: :asc), :id, :name, include_hidden: false do |b| %>
        <li class="form-check col-6 col-md-4 col-lg-2 flex-wrap px-2">
          <%= b.label class: "border rounded-pill w-100" do %>
            <%= b.check_box class: "checkbox-visibility" %>
            <span class="d-flex justify-content-center rounded-pill w-100 checkbox-position">
              <%= b.text %>
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <hr>
  <div class="form-group mt-3">
    <i class="fas fa-folder category-color"></i>
    <span class="font-weight-bold">カテゴリ</span>
    <ul class="row px-3">
      <%= form.collection_check_boxes :categories_id_in, Category.all.order(id: :asc), :id, :name, include_hidden: false do |b| %>
        <li class="form-check col-6 col-md-4 col-lg-2 flex-wrap px-2">
          <%= b.label class: "rounded-pill w-100" do %>
            <%= b.check_box class: "checkbox-visibility" %>
            <span class="d-flex justify-content-center border rounded-pill w-100 checkbox-position">
              <%= b.text %>
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <hr class="py-2 m-0">
  <%= form.submit "検索する", class: 'btn btn-main btn-block my-3' %>
  <button type="button" class="btn btn-dark-gray btn-block my-3" id="reset-button">リセット</button>
<% end %>