<div class="row no-gutters">
  <div class="col d-none d-sm-block p-0">
    <div class="key-visual-left"></div>
  </div>
  <div class="col col-sm-7 col-md px-0">
    <div class="d-flex justify-content-end justify-content-sm-start justify-content-md-center text-right text-sm-left bg-light h-100 key-visual-center">
    <div class="key-visual-background">
      <div class="d-flex flex-column mx-md-auto h-100">
        <h1 class="top-title pt-5 pt-sm-0 px-4 my-sm-auto">MOKNOW</h1>
        <h3 class="sub-title px-4 my-3 m-sm-0">理想の”おうち”で<br>素敵な”じかん”を<br>過ごそう</h3>
        <div class="key-image d-none d-sm-block mb-sm-auto"></div>
        <% unless user_signed_in? %>
          <div class="mx-md-auto px-4">
            <div class="d-inline-flex flex-column">
              <%= link_to "会員登録", new_user_registration_path, class: "btn btn-main mb-3" %>
              <%= link_to "ログイン", new_user_session_path, class: "btn btn-dark-gray mb-3" %>
              <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn btn-bitter-orange mb-3 guest-login" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    </div>
  </div>
  <div class="col d-none d-md-block p-0">
    <div class="key-visual-right"></div>
  </div>
</div>
<div class="mw-xl px-3 py-4">
  <div class="d-inline-flex flex-column headline pb-4">
    <h2 class="m-0">Feature</h2>
    <p class="text-center text-muted">アプリについて</p>
  </div>
  <div class="row">
    <div class="col-12 col-sm-8">
      <h4>”MOKNOW”ってどんなアプリ？</h4>
      <p class="pt-3">引っ越しやマイホーム建設の際に感じた ” 成功・失敗エピソード ” や、あなたのおすすめの ” 家具・家電 ” など、” おうち ” をシェアするアプリです。<br>みんなでシェアすることで理想のおうちや新しいアイデアの発見に繋がります。</p>
      <p>みんなの投稿やノウハウをチェックしておうちの ” 辞書 ” にしよう！</p>
    </div>
    <div class="col-8 col-sm-4 col-md-3 mx-auto">
      <%= image_tag "feature.png", class: "img-fluid" %>
    </div>
  </div>
</div>
<% if @posts.present? %>
  <div class="bg-light py-4">
    <div class="mw-xl px-3">
      <div class="d-inline-flex flex-column headline pb-4">
        <h2 class="m-0">Pick Up</h2>
        <p class="text-center text-muted">ピックアップ</p>
      </div>
      <div class="row flex-nowrap overflow-auto">
        <%= render partial: "pick_up", collection: @posts, as: "post" %>
      </div>
    </div>
  </div>
<% end %>
<div class="mw-xl px-3 py-4">
  <div class="d-inline-flex flex-column headline pb-4">
    <h2 class="m-0">Function</h2>
    <p class="text-center text-muted">機能</p>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="card text-center h-100">
        <%= link_to posts_path, class: "text-reset" do %>
          <div class="card-header px-0">
            <h3 class="card-title">Time Line</h3>
            <h6 class="card-subtitle">タイムライン</h6>
          </div>
          <div class="card-body p-3">
            <%= image_tag "timeline.png", class: "img-fluid" %>
            <p class="card-text">みんなの投稿をチェックして理想のおうちを見つけてみよう！<br>気になる投稿を見つけたら ” いいね ” や ” マーク ” 機能を活用してみましょう！<br>あなたもおうちの投稿をしてみんなとシェアしてみませんか？</p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="card text-center h-100">
        <%= link_to user_item_page, class: "text-reset" do %>
          <div class="card-header px-0">
            <h3 class="card-title">My Item</h3>
            <h6 class="card-subtitle">マイアイテム</h6>
          </div>
          <div class="card-body p-3">
            <%= image_tag "myitem.png", class: "img-fluid" %>
            <p class="card-text">おうちの ” 家具・家電 ” などを記録しておく事ができます！<br>今ある家具・家電などの種類やサイズが分からず、困ったことはありませんか？ 記録しておくことで迷わず簡単に確認する事ができ、購入や引っ越しなどの際の役に立ちます！</p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="card text-center h-100">
        <%= link_to know_hows_path, class: "text-reset" do %>
          <div class="card-header px-0">
            <h3 class="card-title">Know How</h3>
            <h6 class="card-subtitle">ノウハウ</h6>
          </div>
          <div class="card-body p-3">
            <%= image_tag "about.png", class: "img-fluid" %>
            <p class="card-text">引っ越しの際やっておくと良いことをピックアップしています！<br>準備するものや手順はノウハウ毎に確認する事ができます。<br>” ノウハウ ” をチェックをして快適な引っ越しをしましょう！</p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="card text-center h-100">
        <%= link_to graphs_path, class: "text-reset" do %>
          <div class="card-header px-0">
            <h3 class="card-title">Data</h3>
            <p class="card-subtitle">データ</p>
          </div>
          <div class="card-body p-3">
            <%= image_tag "data.png", class: "img-fluid" %>
            <p class="card-text">人気の "タグ" や "カテゴリ" 、"いいね獲得数" などのランキングをチェックする事ができます！<br>人気の投稿を目指して、たくさんのいいねを獲得しランキング上位を目指しましょう！</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="bg-light py-4">
  <p class="text-center py-4">さあ、あなたの "おうち" をシェアしてみよう！</p>
  <div class="d-flex justify-content-center">
    <div class="d-inline-flex flex-column">
      <% unless user_signed_in? %>
        <%= link_to "会員登録", new_user_registration_path, class: "btn btn-main mb-3" %>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-dark-gray mb-3" %>
        <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn btn-bitter-orange mb-3 guest-login" %>
      <% end %>
    </div>
  </div>
</div>
