<div class="row no-gutters">
  <div class="col d-none d-sm-block p-0">
    <div class="key-visual-left"></div>
  </div>
  <div class="col col-sm-7 col-md px-0">
    <div class="d-flex justify-content-end justify-content-sm-start justify-content-md-center text-right text-sm-left bg-light h-100 key-visual-center">
      <div class="key-visual-background">
        <div class="d-flex flex-column mx-md-auto h-100">
          <h1 class="top-title pt-5 pt-sm-0 px-4 my-sm-auto">Roomake</h1>
          <h3 class="sub-title px-4 my-3 m-sm-0">理想の”おうち”で<br>素敵な”じかん”を<br>過ごそう</h3>
          <div class="key-image d-none d-sm-block mb-sm-auto"></div>
          <% unless user_signed_in? %>
            <div class="mx-md-auto px-4">
              <div class="d-inline-flex flex-column">
                <%= link_to "会員登録", new_user_registration_path, class: "btn btn-main mb-3" %>
                <%= link_to "ログイン", new_user_session_path, class: "btn btn-dark-gray mb-3" %>
                <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn btn-bitter-orange mb-3 guest-login" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col d-none d-md-block p-0">
    <div class="key-visual-right"></div>
  </div>
</div>
<div class="mw-xl px-3 py-4">
  <div class="d-inline-flex flex-column headline pb-4">
    <h2 class="m-0">Feature</h2>
    <p class="text-center text-muted">アプリについて</p>
  </div>
  <div class="row">
    <div class="col-12 col-sm-8">
      <h4>”Roomake”ってどんなアプリ？</h4>
      <p class="pt-3">引っ越しやマイホーム建設の際に感じた ” 成功・失敗エピソード ” や、あなたのおすすめの ” 家具・家電 ” など、” おうち ” をシェアするアプリです。<br>みんなでシェアすることで理想のおうちや新しいアイデアの発見に繋がります。</p>
      <p>みんなの投稿やノウハウをチェックしておうちの ” 辞書 ” にしよう！</p>
    </div>
    <div class="col-8 col-sm-4 col-md-3 mx-auto">
      <%= image_tag "feature.png", class: "img-fluid" %>
    </div>
  </div>
</div>
<% if @posts.present? %>
  <div class="bg-light py-4">
    <div class="mw-xl px-3">
      <div class="d-inline-flex flex-column headline pb-4">
        <h2 class="m-0">Pick Up</h2>
        <p class="text-center text-muted">ピックアップ</p>
      </div>
      <div class="row flex-nowrap overflow-auto">
        <%= render partial: "pick_up", collection: @posts, as: "post" %>
      </div>
    </div>
  </div>
<% end %>
<div class="mw-xl px-3 py-4">
  <div class="d-inline-flex flex-column headline pb-4">
    <h2 class="m-0">Function</h2>
    <p class="text-center text-muted">機能</p>
  </div>
  <div class="row">
    <%= render partial: "function", collection: @homes, as: "function" %>
  </div>
</div>
<div class="bg-light py-4">
  <div class="mb-5">
    <p class="text-center py-4">さあ、あなたの "おうち" をシェアしてみよう！</p>
    <div class="d-flex justify-content-center">
      <div class="d-inline-flex flex-column">
        <% if user_signed_in? %>
          <button type="button" class="btn btn-main" data-toggle="modal" data-target="#new-modal">
            <i class="fas fa-plus-square"></i> 投稿する
          </button>
        <% else %>
          <%= link_to "会員登録", new_user_registration_path, class: "btn btn-main mb-3" %>
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-dark-gray mb-3" %>
          <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn btn-bitter-orange mb-3 guest-login" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
