<li class="col-12 border-bottom px-3 py-2" id="my-item-<%= item.id %>" >
  <div class="row bg-white w-100 m-0 py-1">
    <div class="col-3 align-self-center bg-white p-0">
      <div class="item-container mx-auto">
        <%= image_tag item.image.url, class: "item-image fadein-image" %>
      </div>
    </div>
    <div class="col-9 d-flex w-100 p-0">
      <div class="d-flex flex-column">
        <p class="d-flex align-items-center pl-3 my-auto"><%= item.name %></p>
        <p class="d-flex align-items-center text-muted pl-3 my-auto"><%= item.genre? ? item.genre : "未設定" %></p>
      </div>
      <% if controller_name == 'items' && current_user.id == user.id %>
        <div class="dropdown px-3 ml-auto">
          <button class="btn btn-link btn-sm text-reset p-0" type="button" id="my-item-menu-<%= item.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-h"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="my-item-menu-<%= item.id %>">
            <%= link_to "削除", user_item_path(current_user, item), class: "dropdown-item text-danger", method: :delete, data: { confirm: "削除しますか?"}, remote: true %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</li>
