<div class="col-12 col-sm-6">
  <div class="card mb-3">
    <%= link_to post, class: 'text-reset' do %>
      <div class="row no-gutters">
        <div class="col-md-6">
          <div class="posted-image">
            <%= image_tag post.photos.first.image.url, class: "img-fluid" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card-body h-100">
            <div class="card-name text-truncate">
              <%= image_tag post.user_avater.url, class: "rounded-circle", size: "32x32" %>
              <%= post.user_name %>
            </div>
            <div class="border-top py-3">
              <i class="fas fa-tag"></i>
              <% post.tags.each do |tag| %>
                <span class="pr-2">
                  <%= tag.name %>
                </span>
              <% end %>
            </div>
            <p class="card-text text-truncate pt-3">
              <%= post.content %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
