<div class="col-12 col-sm-6">
  <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-6">
          <%= link_to post do %>
            <div class="posted-image">
              <%= image_tag post.photos.first.image.url, class: "img-fluid" %>
            </div>
          <% end %>
        </div>
        <div class="col-md-6">
          <div class="card-body h-100">
            <div class="card-name text-truncate">
              <%= link_to user_path(post.user_id), class: 'text-reset' do %>
                <%= image_tag post.user_avater.url, class: "rounded-circle", size: "32x32" %>
                <%= post.user_name %>
              <% end %>
            </div>
            <small>
              <div class="border-top pt-2">
                <i class="fas fa-tag"></i>
                <% post.tags.each do |tag| %>
                  <span class="pr-2">
                    <%= tag.name %>
                  </span>
                <% end %>
              </div>
              <div class="pt-2">
                <i class="fas fa-folder"></i>
                <% post.categories.each do |category| %>
                  <span class="pr-2">
                    <%= category.name %>
                  </span>
                <% end %>
              </div>
            </small>
            <p class="card-text text-truncate pt-3">
              <%= post.content %>
            </p>
            <%= link_to post do %>
              <small class="text-muted">詳細を見る</small>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>
