<!DOCTYPE html>
<html>
  <head>
    <title>Moknow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header_top' %>
    <%= render 'shared/header_bottom' %>
    <div id="flash-messages">
      <%= render 'layouts/flash_messages' %>
    </div>
    <div class='base-container py-4 <%= max_width %>'>
      <%= yield %>
    </div>
  </body>
</html>
