<!DOCTYPE html>
<html>
  <head>
    <title>Roomake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: "apple-touch-icon", type: "image/png", sizes: "180x180" %>
    <%= favicon_link_tag 'android-touch-icon.png', rel: "icon", type: "image/png", sizes: "192x192" %>
  </head>

  <body>
    <%= render 'shared/header_top' %>
    <%= render 'shared/header_bottom' %>
    <%= render 'shared/modal', action: 'new', title: '新規投稿' %>
    <%= render 'shared/modal', action: 'search', title: '検索' %>
    <div id="flash-messages">
      <%= render 'layouts/flash_messages' %>
    </div>
    <div class='container-fluid <%= max_width %>'>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
